.vscode/
.idea/
tmp/
__history/
__recovery/
win32/
*.bak
*.corrupted
*.dcu
*.dll
*.exe
*.map
*.tmp
*.vfs
*.*-
data.res
hfs.identcache
hfs.ini
hfs.tpl
hfs_project.tvsconfig
macros-log.html
/*.zip
dsit/
